@model IEnumerable<Form.Models.Issue>

@{
    ViewData["Title"] = "Вопросы";
}

<h1>Список вопросов</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Предприятие
            </th>
            <th>
                Email
            </th>
            <th>
                ФИО
            </th>
            <th>
                Возраст
            </th>
            <th>
                Текст обращения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enterprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробней</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
